body {
    background: linear-gradient(180deg, rgba(32, 18, 25, 1) 0%, rgba(73, 48, 51, 1) 50%, rgba(77, 57, 66, 1) 100%);
}
h1 {
	font-family: Arial, Helvetica, sans-serif;
}
a {
    color: #49828C;
}
